$primary-color: #8655f0;
$base-color: #0D0B6A;
$secondary-color: #EBE7FF;
$background-color: #FAF9FF;
$text-color: #1F1E23;
$white: #FFFFFF;
$border-radius: 16px;
$transition: 0.3s ease;
$font-family: 'Lato', sans-serif;
$header-height: 56px;
$grey-text: #878C97;
$button-bg-color:#8655F0;
$button-hover-bg-color:#2E2484;
